
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
## on ignore les dossier des images
/public/images/avatars/*.jpg
/public/images/avatars/*.png
/public/images/recipes/*.jpg
/public/images/recipes/*.png

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
